<h1>All cocktails</h1><br>
<% @cocktails.each do |cocktail| %>
  <%= link_to cocktail.name, cocktail_path(cocktail.id) %>
  <%= link_to "Delete", cocktail, method: :delete, data: { confirm: "Are you sure?" } %><br>
<% end %>

<br>
<%= link_to "Add new cocktail", new_cocktail_path %>
